@CHARSET "UTF-8";
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb.btn-group{
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
  border-radius:0px;
  border-top:0px;
  border-bottom:0px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
  border-left:0px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
  border-right:0px;
}

/** Default button **/
.breadcrumb-default {
	border-color: #ccc;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.breadcrumb-primary {
	border-color: #357ebd;
	background: #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.breadcrumb-success {
	border-color: #4cae4c;
	background: #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.breadcrumb-danger {
	border-color: #d43f3a;
	background: #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.breadcrumb-warning {
	border-color: #eea236;
	background: #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.breadcrumb-info {
	border-color: #46b8da;
	background: #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

.btn-breadcrumb-full.btn-breadcrumb.btn-group{
	width: 100%;
}

.btn-breadcrumb-full.btn-breadcrumb .btn:not(.active):hover:last-child:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb-full.btn-breadcrumb .btn:not(.active):hover:last-child:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb-full.btn-breadcrumb .btn.btn-info:not(.active):hover:after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-info:not(.active):hover:before {
  border-left: 10px solid #269abc;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-warning:not(.active):hover:after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-warning:not(.active):hover:before {
  border-left: 10px solid #d58512;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-danger:not(.active):hover:after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-danger:not(.active):hover:before {
  border-left: 10px solid #ac2925;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-success:not(.active):hover:after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-success:not(.active):hover:before {
  border-left: 10px solid #398439;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-primary:not(.active):hover:after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-primary:not(.active):hover:before {
  border-left: 10px solid #285e8e;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-default:not(.active):hover:after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb-full.btn-breadcrumb .btn.btn-default:not(.active):hover:before {
  border-left: 10px solid #adadad;
}

.btn-breadcrumb .active,
.btn-breadcrumb .active:hover
{
	background: transparent;
	border:0;
	box-shadow:none;
}